body{font-family:微软雅黑;background-image:url(http://ww4.sinaimg.cn/mw690/9e8a9c71jw1f3dxyczrybj20dw06l74i.jpg);}
h1{color:orange;text-align:center;}
h2{color:orange;text-align:center;}
h4{color:orange;text-align:center;}
blockquote{color:white;}
[href]{color:orange;}
caption{color:orange;font-weight:bold;}

div#whole{width:920px;margin:0 auto;}

div#a{width:567px;float:left;}

div#b{width:267px;float:left;text-align:center;background-image:url(http://ww1.sinaimg.cn/mw690/9e8a9c71jw1f3dxydje76j20dw0dwt9k.jpg);border-radius:10px;box-shadow:10px 10px 5px;}
#spq{border-radius:10px 10px 0 0}

div#c{width:250px;float:right;}
table{color:white;width:250px;background-image:url(http://ww1.sinaimg.cn/mw690/9e8a9c71jw1f3dxydje76j20dw0dwt9k.jpg);border:1px solid;border-radius:10px 10px 0 0;}
div#d{color:white;width:250px;float:right;background-image:url(http://ww1.sinaimg.cn/mw690/9e8a9c71jw1f3dxydje76j20dw0dwt9k.jpg);}
div#e{color:white;width:250px;float:right;background-image:url(http://ww1.sinaimg.cn/mw690/9e8a9c71jw1f3dxydje76j20dw0dwt9k.jpg);border-radius:0 0 10px 10px;}

div#f{width:300px;height:120px;float:right;}
div#g{width:300px;height:280px;float:right;background-image:url(http://ww1.sinaimg.cn/mw690/9e8a9c71jw1f3dxydje76j20dw0dwt9k.jpg);border-radius:10px;box-shadow:10px 10px 5px;}
